---
import { cn } from '../../../utils/twMerge'
const { heading, customClass } = Astro.props
---

<div class={cn('flex flex-col mb-8', customClass)}>
	<h2
		class='font-semibold text-almost-black text-xl lg:text-[20px] font-open-sans inline-block border-b border-custom-green !pb-1'
	>
		{heading.toUpperCase()}
	</h2>
</div>
