---
import { cn } from '../../../utils/twMerge'
const { heading, customClass } = Astro.props
---

<div class={cn('flex flex-col mb-8', customClass)}>
	<h2
		class=' text-custom-green text-xl lg:text-[25px] font-newake inline-block'
	>
		{heading.toUpperCase()}
	</h2>
</div>
