---
import { cn } from '../../../utils/twMerge'
const { heading, customClass } = Astro.props
---

<div class={cn('flex flex-col py-4', customClass)}>
	<h3
		class='text-custom-blue text-md lg:text-[20px] font-bold inline-block !pb-1'
	>
		<!-- <slot name='icon' />{heading.toUpperCase()} -->
		{heading.toUpperCase()}
	</h3>
</div>
