---
import { cn } from 'utils/twMerge'
const { isMain, lang } = Astro.props

const languages = [
	{
		language: 'español',
		id: 'es',
	},
	{
		language: 'english',
		id: 'en',
	},
]
---

<div class={cn('flex gap-2', isMain ? 'z-40' : '')}>
	{
		languages.map(({ language, id }) => (
			<a
				class={cn(
					lang === id ? 'font-bold' : 'font-light',
					'cursor-pointer px-4 py-1  rounded-2xl text-almost-black',
					isMain ? 'bg-white/80' : ''
				)}
			>
				{language.toUpperCase()}
			</a>
		))
	}
</div>
