---
import { cn } from 'utils/twMerge'
const { isMain, lang } = Astro.props

const languages = [
	{
		language: 'ES',
		id: 'es',
	},
	{
		language: 'EN',
		id: 'en',
	},
]
---

<div class={cn('flex gap-3', isMain ? 'z-40' : '')}>
	{
		languages.map(({ language, id }) => (
			<button
				class={cn(
					lang === id ? 'font-extrabold' : 'font-light',
					'cursor-pointer text-almost-black text-sm'
				)}
			>
				{language.toUpperCase()}
			</button>
		))
	}
</div>
