---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class='white-section w-full'>
	<div
		class='flex flex-col items-center gap-10 py-14 md:py-20 font-open-sans centerElement'
	>
		<h2
			class='text-3xl md:text-4xl font-open-sans font-medium text-almost-black text-center'
		>
			<i>“{t('main.quote')}”</i>
		</h2>
		<div class='h-[1px] w-1/5 bg-custom-blue'></div>
		<p class='font-open-sans text-almost-black text-center'>
			{t('main.description')}
		</p>
	</div>
</div>
