---
import Layout from '../../../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '../../../../i18n/utils'
import SectionHeadingType2 from '@/components/atoms/SectionHeadingType2.astro'

export async function getStaticPaths() {
	return [{ params: { languageId: 'es' } }, { params: { languageId: 'en' } }]
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title='Lucía Sanchez' heading=''>
	<div class='centerElement mt-14'>
		<div class='flex flex-col lg:flex-row items-start gap-0 lg:gap-14'>
			<div class='flex flex-col mp-4 lg:mb-10'>
				<SectionHeadingType2
					heading={t('teachers.lucia-sanchez.title1')}
					customClass='items-center lg:items-start order-1'
				/>

				<p class='text-center md:text-left order-2'>
					{t('teachers.lucia-sanchez.text1')}
				</p>
			</div>
			<img
				class='hidden lg:block w-[170px] lg:w-1/4 h-auto rounded-full shadow-md self-center lg:self-start mt-10'
				src='/images/teachers/lucia.jpg'
				alt=''
			/>
		</div>
	</div>

	<div class='centerElement'>
		<div class='flex flex-col lg:flex-row gap-0 lg:gap-14 items-start'>
			<div class='flex flex-col items.center mb-14'>
				<img
					class='block lg:hidden w-[170px] lg:w-1/4 h-auto rounded-full shadow-md self-center my-10'
					src='/images/teachers/lucia.jpg'
					alt=''
				/>
				<SectionHeadingType2
					heading='LUCÍA SÁNCHEZ'
					customClass='items-center lg:items-start'
				/>

				<p class='text-center md:text-left'>
					{t('teachers.lucia-sanchez.text2')}
				</p>
			</div>
			<div class='w-2/3 lg:w-1/4 h-10 shrink-0 invisible lg:visible'></div>
		</div>
	</div>
</Layout>
