---
import Layout from '../../../layouts/Layout.astro'
import Header from '../../../components/organisms/Header.astro'

import { getLangFromUrl, useTranslations } from '../../../i18n/utils'

export async function getStaticPaths() {
	return [{ params: { languageId: 'es' } }, { params: { languageId: 'en' } }]
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout>
	<h2>Registration page</h2>
</Layout>
