---
import { getLangFromUrl } from '../../i18n/utils'
const { isMain } = Astro.props
import { cn } from 'utils/twMerge'
import Navigation from '../molecules/Navigation.tsx'

const lang = getLangFromUrl(Astro.url)
const currentPath = Astro.url.pathname
---

<footer
	class={cn(
		isMain ? 'bg-linear-65 from-custom-green to-custom-blue' : 'bg-custom-blue',
		'w-full h-10'
	)}
>
	<div class='flex items-center h-full w-full max-w-screen-2xl mx-auto px-10'>
		&copy; Dominik Frackowiak 2025
	</div>
</footer>
