---
import '../styles/global.css'
import { cn } from 'utils/twMerge'
import { ClientRouter } from 'astro:transitions'
import Header from '../components/organisms/Header.astro'
import Footer from '@/components/organisms/Footer.astro'

const currentPath = Astro.url.pathname

const segments = Astro.url.pathname.split('/').filter(Boolean)
const isMain = segments.length === 1 || segments.length === 0

import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const { title } = Astro.props
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/images/favicon.jpg' />
		<meta name='generator' content={Astro.generator} />
		<ClientRouter />
		<title>MAD PULSE | {title || 'HOME'}</title>
	</head>
	<body class='flex flex-col min-h-screen' )>
		<Header isMain={isMain} />
		<main
			class={cn(
				'flex flex-col mx-auto flex-1 bg-[url(/images/texture.png)] bg-center bg-cover',
				!isMain ? '!pt-24' : '',
				''
			)}
		>
			<slot />
		</main>
		<Footer isMain={isMain} />
	</body>
</html>

<style>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
</style>
